{% if currentETA %}
    <table class="{{ config.tableClass }}">
        <tr>
            <th class="align-left bright">
                {{ "LINE" | translate }}
            </th>
            <th class="align-left bright">
                {{ "DESTINATION" | translate }}
            </th>
            <th class="align-right bright">
                {{ "DEPARTURE" | translate }}
            </th>
        </tr>
        {% for f in currentETA %}
            {% if f.etas | length %}
                {% for eta in f.etas %}
                    <tr {% if config.colored %} class="colored" {% endif %}>
                        {% if f.line and loop.first %}
                            <td rowspan="{{ f.etas.length }}" class="align-left bright">
                                {{ f.line }}
                            </td>
                        {% endif %}
                        <td class="align-left bright">
                            {{ eta.dest }}
                        </td>
                        <td class="align-right bright">
                            {% if config.displayRelativeTime %}
                                {{ eta.time | fromNow }}
                            {% else %}
                                {{ eta.time | formatTime }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <div class="dimmed light small">
                    {{ "EMPTY" | translate }}
                </div>
            {% endif %}
        {% endfor %}
    </table>
{% elseif error %}
    <div class="small dimmed">
        {{ "MODULE_CONFIG_ERROR" | translate({MODULE_NAME: "MMM-HK-Transport-ETA", ERROR: error}) | safe }}
    </div>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}
<!-- Uncomment the line below to see the contents of the `forecast` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{forecast | dump}}</div> -->