{% if currentETA %}
    <table class="{{ config.tableClass }}">
        {% for f in currentETA %}
            {% if f.etas %}
                {% for eta in f.etas %}
                    <tr {% if config.colored %}class="colored"{% endif %}>
                        {% if f.line and loop.first %}
                            <td rowspan="{{ f.etas.length }}" class="align-left bright max-temp">
                                {{ f.line }}
                            </td>
                        {% endif %}
                        <td class="align-left bright max-temp">
                            {{ eta.dest }}
                        </td>
                        <td class="align-right min-temp">
                            {{ eta.time | formatTime }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `forecast` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{forecast | dump}}</div> -->